<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini color="secondary"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list>
      <div *ngIf="!authProvider.isAuthenticated(); else loggedin">
        <button ion-fab (click)="goToSignin()"><ion-icon name="log-in"></ion-icon></button>
        <button ion-fab (click)="goToSignup()"><ion-icon name="person-add"></ion-icon></button>
      </div>
      <ng-template #loggedin>
        <button ion-fab (click)="onSignOut()"><ion-icon name="log-out"></ion-icon></button>
      </ng-template>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="authProvider.isAuthenticated();">
    <h6>Welcome {{userEmail()}}!</h6>
  </div>

  <h3>Angular Ionic Health App </h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Quisque semper condimentum dolor, non consequat diam varius vel. 
    Maecenas ut elit a velit consequat mollis ac nec ipsum. Fusce vel malesuada mauris. 
    Vivamus vel odio in diam aliquet vehicula et in erat. Pellentesque at tellus sit amet massa tincidunt gravida.
    Mauris ac lacus ex. Vivamus eget justo vestibulum, dignissim orci ac, auctor lectus. 
    Maecenas placerat mauris id purus sodales, non pulvinar risus elementum. Donec euismod tortor quis hendrerit pellentesque. 
    Aliquam bibendum condimentum libero, eget blandit felis suscipit ac. Proin eu pretium tortor, et luctus tortor. 
    Proin porta dapibus ligula sed elementum. Suspendisse venenatis egestas ultrices.
  </p>

  <button ion-button outline (click)="goTo()">Stepcounter</button>
</ion-content>
