<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      
      <!--
      <button menuClose ion-item (click)="homePage()">
        Home
      </button>

      <ng-template #signin>
        <button menuClose ion-item (click)="signInPage()">
          Sign in
        </button>
      </ng-template>-->

      <div *ngIf="authProvider.isAuthenticated(); else signin">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openAuthPages(p)">
          {{p.title}}
        </button>
      </div>

      <button menuClose ion-item (click)="onSignOut()">
        Sign out
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>